@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  /* font-size: 75px; */
}

#app {
  min-height: 100vh;
}

h1 {
  font-size: 100px;
  font-family: 'Croissant One', cursive;

}

h2 {
  font-size: 34px;
  font-family: 'Overlock', cursive;

}

h3 {
  font-size: 34px;
  font-family: 'Philosopher', sans-serif;
}

h4 {
  font-size: 36px;
  font-family: 'Philosopher', sans-serif;
}